
{% extends 'main.html' %}
{% block content %}
    <main class="auth layout">
        <div class="container">
            <div class="layout__box">
                <div class="layout__boxHeader">
                <div class="layout__body">
                    <h2 class="auth__tagline">Your password has been reset successfully</h2>
                        <a href="{% url 'login' %}" class="btn btn--main" type="submit">
                            Log In
                        </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
