{% extends 'main.html' %}
{% block content %}
    <body>
    <main class="auth layout">
        <div class="container">
            <div class="layout__box">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <h3>Password Reset</h3>
                    </div>
                </div>
                <div class="layout__body">

                    <h2 class="auth__tagline">Please enter your new password twice, so we can verify you typed it in correctly.</h2>

                    {%  include 'base/error_messages.html' %}

                    <form class="form" method="post" action="">
                        {% csrf_token %}
                        <div class="form__group">
                            <label for="{{ form.password1.id_for_label }}">Password</label>
                            {{ form.password1 }}
                        </div>
                        <div class="form__group">
                            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
                            {{ form.password2 }}
                        </div>

                        <a href="{% url 'reset-password-complete' %}" class="btn btn--main" type="submit">
                            Submit
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
