{#<h1>Password Reset</h1>#}
{#<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>#}
{##}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}

{% extends 'main.html' %}
{% block content %}
    <main class="auth layout">
        <div class="container">
            <div class="layout__box">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle auth__tagline">
                        <a href="{% url 'home' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <title>arrow-left</title>
                                <path
                                        d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                                </path>
                            </svg>
                        </a>
                        <h1>Password reset sent!</h1>
                    </div>
                </div>
                <div class="layout__body">
                    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
